extends layout

block title
  = "shmile"

block content
  section#viewport
    button#start-button.awesome.superlarge.boinkyellow Start
    button#print-button-yes.awesome.large.boinkyellow Print
    button#print-button-no.awesome.large.boinkyellow Don't print
